/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
Colors

*/
@font-face {
    font-family: 'molotregular';
    src: url('./Molot-webfont.eot');
    src: url('./Molot-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Molot-webfont.woff2') format('woff2'),
         url('./Molot-webfont.woff') format('woff'),
         url('./Molot-webfont.ttf') format('truetype'),
         url('./Molot-webfont.svg#molotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
    background: #DDB852;
    color: white; 
}
::-moz-selection {
    background: #DDB852;
    color: white; 
}
img::selection {
    background: transparent; 
}
img::-moz-selection {
    background: transparent; 
}

html {
    min-height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    display: grid;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
}
body * {
    box-sizing: border-box;
}
.molot {
    font-family: 'molotregular';
    color: #ffffff;
}
a {
    color: white;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease;
}
a:hover {
    color: #DDB852;
    text-decoration: underline;
}
p a, span a {
    color: #DDB852;
}
button, input[type="submit"] {
    background-image: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 34px;
    outline: none;
    border-radius: 50px;
    width: auto;
    margin: auto;
    transition: all 0.3s;
    border: 1px solid #DDB852;
    color: #1a1a1a;
    background-color: #DDB852;
}
button:hover, input[type="submit"]:hover {
    background-color: transparent;
}
header, section {
    min-height: 100vh;
    height: 100%;
    padding-top: 64px;
    position: relative;
}
.view:nth-child(odd) {
    background-color: #1a1a1a;
    color: #ffffff;
}
.view:nth-child(even) {
    background-color: #ffffff;
    color: #1a1a1a;
}

header h1 {
    font-size: 48px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 30px;
    left: 75px;
    margin: 0;
    transform-origin: bottom left;
    transform: rotate(-90deg);
}

header .hero {
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
    transform: translateY(-64px);
}

header .hero h2 {
    font-size: 48px;
    margin: 32px;
    letter-spacing: 10px;
    font-weight: 500;
    opacity: 0.75;
}

header .hero button {
    border: 1px solid #DDB852;
    color: #DDB852;
    background-color: transparent;
}

header .hero button:hover {
    background-color: #DDB852;
    color: #1a1a1a;
}

header .mouse {
    position: absolute;
    width: 24px;
    height: 36px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    left: calc(50% - 12px);
    bottom: 40px;
}
header .mouse::after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    top: 10px;
    left: calc(50% - 2px);
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    75% {
    }
    100% {
        transform: translateY(10px) scale(0.5);
        opacity: 0;
    }
}

section .wrapper {
    display: grid;
    grid-gap: 16px;
    width: 100%;
    max-width: 1014px;
    height: 100%;
    align-content: center;
    margin: auto;
}

.services .service-item {
    grid-row: 1;
    width: 100%;
    min-width: 190px;
    height: 262px;
    text-align: center;
    display: grid;
    align-content: center;
}

.services .service-item figure img {
    max-width: 80px;
    max-height: 80px;
}

.services .service-item h4 {
    color: #666666;
    text-transform: uppercase;
}

.services .service-item:hover, .services .service-item.active {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.services .service-item:hover h4, .services .service-item.active h4 {
    color: #1a1a1a;
}

.services .service-description {
    grid-row: 2;
    grid-column: span 5;
    width: 100%;
    text-align: center;
    padding: 64px 0;
}

.services .service-description p {
    margin-bottom: 48px;
}
.profile {
    grid-template-columns: 120px auto;
}
.profile .picture {
    grid-area: 1 / 1 / 1 / 1;
    margin: 0;
}
.profile .picture img {
    width: 120px;
    height: 120px;
}
.profile .social-links {
    grid-area: 1 / 2 / 1 / 2;
    padding: 0;
    padding-top: 88px;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 24px;
    list-style: none;
}
.profile .social-links li {
    display: inline-block;
    margin: auto 10px;
    position: relative;
}
.profile .name {
    grid-area: 2 / 1 / 2 / span 2;
    font-size: 48px;
    margin: 0;
    letter-spacing: 2px;
}
.profile .description {
    grid-area: 3 / 1 / 3 / span 2;
    width: 720px;
}
.profile .description p {
    margin-top: 0;
    margin-bottom: 1.5em;
    color: #999999;
    font-size: 18px;
}
.profile .scroller {
    grid-area: 4 / 1 / 4 / span 2;
    margin: auto;
    margin-top: 100px;
    color: #DDB852;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}
.profile .scroller > span {
    display: inline-block;
    margin-bottom: 12px;
}
.profile .scroller .arrow {
    position: relative;
    height: 18px;
    width: 30px;
    display: block;
    margin: auto;
}
.profile .scroller .arrow::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 24px;
    background-color: #DDB852;
    right: 50%;
    transform-origin: center right;
    transform: rotate(33deg);
}
.profile .scroller .arrow::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 24px;
    background-color: #DDB852;
    left: 50%;
    transform-origin: center left;
    transform: rotate(-33deg);
}
.profile .scroller:hover .arrow {
    animation: float 1.2s ease infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

.contact {
    justify-content: start;
}
.contact h3 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
    grid-row: 1;
}
.contact em {
    color: #DDB852;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    grid-row: 2;
}
.contact p {
    color: #666666;
    grid-row: 3;
    margin: 0;
}
.contact form {
    grid-row: 4;
    max-width: 600px;
    display: grid;
    grid-gap: 24px;
    margin-top: 8px;
}
.contact form input[type="text"], .contact form input[type="email"], .contact form textarea {
    padding: 6px;
    border: 1px solid #999999;
    outline: none;
    width: 100%;
}
.contact form input[type="text"]:focus, .contact form input[type="email"]:focus, .contact form textarea:focus {
    border-color: #DDB852;
}
.contact form input[name="name"] {
    grid-area: 1 / 1 / 1 / 1;
}
.contact form input[name="email"] {
    grid-area: 1 / 2 / 1 / 2;
}
.contact form textarea {
    grid-area: 2 / 1 / 2 / span 2;
    height: 224px;
    resize: none;
}
.contact form input[type="submit"] {
    grid-area: 3 / 1 / 3 / 1;
    margin-left: 0;
}

footer {
    padding: 48px;
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
}
footer .footer__info h6 {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}
footer .footer__info span {
    font-size: 14px;
}
footer .email {
    grid-column: 1;
}
footer .mail {
    grid-column: 2;
}
footer .phone {
    grid-column: 3;
}
footer .social-links {
    grid-column: 4;
    padding: 0;
    margin: 0;
    text-align: right;
    list-style: none;
}
footer .social-links li {
    display: inline-block;
    margin: auto 16px;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 60px auto 60px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

nav.dark {
    background-color: #1a1a1a;
    color: white;
}

nav.light {
    background-color: #ffffff;
    color: #1a1a1a;
}

nav.dark .nav__hamburger span::before, nav.dark .nav__hamburger span::after {
    background-color: white;
}
nav.light .nav__hamburger span::before, nav.light .nav__hamburger span::after {
    background-color: #1a1a1a;
}

nav .nav__hamburger, nav .nav__logo {
    width: 60px;
}
nav .nav__hamburger {
    display: grid;
    justify-content: start;
    align-items: center;
}
nav .nav__hamburger span {
    position: relative;
    display: block;
    margin: auto;
    height: 24px;
    width: 24px;
    transition: all 0.3s ease;
    display: none;
}
nav .nav__hamburger span::before, nav .nav__hamburger span::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    left: 0;
    transform-origin: center;
    transition: all 0.3s ease;
}
nav .nav__hamburger span::before {
    top: 6px;
}
nav .nav__hamburger:hover span::before {
    background-color: #DDB852;
}
nav .nav__hamburger.active span::before {
    transform: translateY(5px) rotate(45deg);
}
nav .nav__hamburger span::after {
    bottom: 6px;
}
nav .nav__hamburger:hover span::after {
    transform: translateY(-5px) rotate(-45deg);
    background-color: #DDB852;
}
nav .nav__hamburger.active span::after {
    transform: translateY(-5px) rotate(-45deg);
}

nav .nav__menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    list-style: none;
}

nav .nav__menu ul li {
    display: inline-block;
    margin: auto 10px;
    padding: 11px 8px;
    position: relative;
    cursor: pointer;
}

nav .nav__menu ul li:hover::after, nav .nav__menu ul li.active::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #DDB852;
    left: calc(50% - 12px);
    bottom: 4px;
}

nav div, nav .nav__logo svg, nav .nav__menu ul {
    height: 44px;
}

nav .nav__logo svg .st0 {
    transition: fill 0.3s ease;
}
/* SVG logo classes */
nav.dark .nav__logo svg .st0{fill:#ffffff;}
nav.light .nav__logo svg .st0{fill:url(#SVGID_1_);}
.st1{fill:url(#SVGID_2_);}
.st2{fill:url(#SVGID_3_);}
.st3{fill:url(#SVGID_4_);}
.st4{fill:url(#SVGID_5_);}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 320px) {

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
